{
  "ignore": [
    "node_modules/**"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/flow"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/flow"
      ]
    }
  }
}
